<div class="container-fluid vh-100 d-flex flex-column p-0">
  <div class="row g-0 flex-grow-1">
    
    <!-- sidebar (cột trái chiếm 2 phần)-->
    <nav class="col-md-2 bg-dark text-white d-flex flex-column shadow">
      <!-- logo -->
      <div class="p-3 text-center border-bottom border-secondary">
        <h4 class="mb-0">Học Vụ </h4>
      </div>
      
      <!--menu -->
      <ul class="nav flex-column mt-3">
        <!--routerLink dùng cho SPA (single page app)-->
        <!--routerLink ko tải lại trang mà chỉ đổi URL và render các component yêu cầu-->
        <!--khác với href: full page reload-->
        <li class="nav-item">
          <a class="nav-link text-light px-4 py-3" routerLink="/courses" routerLinkActive="bg-primary text-white">
            Quản lý Khóa học
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light px-4 py-3" routerLink="/users" routerLinkActive="bg-primary text-white">
            Quản lý Người dùng
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light px-4 py-3" routerLink="/roles" routerLinkActive="bg-primary text-white">
            Quản lý Quyền
          </a>
        </li>
      </ul>
    </nav>

    <!-- khung chính (cột phải chiếm 10 phần) -->
    <main class="col-md-10 d-flex flex-column bg-light">
      
      <!-- header -->
      <header class="d-flex justify-content-between align-items-center p-3 bg-white border-bottom shadow-sm">
        <div class="fs-5">
          Xin chào, <strong>Admin</strong>
        </div>
        <button class="btn btn-outline-danger" (click)="onLogout()">
          Đăng xuất 🚪
        </button>
      </header>

      <!-- các trang con -->
      <div class="p-4 flex-grow-1 overflow-auto">
        <router-outlet></router-outlet>
      </div>

    </main>
  </div>
</div>