<div class="container-fluid vh-100 d-flex flex-column p-0">
  <div class="row g-0 flex-grow-1">
    
    <!-- sidebar (cột trái chiếm 2 phần)-->
    <nav class="col-md-2 bg-dark text-white d-flex flex-column shadow">
      <!-- logo -->
      <div class="p-3 text-center border-bottom border-secondary">
        <h4 class="mb-0">Học Vụ </h4>
      </div>
      
      <!--menu -->
      <ul class="nav flex-column mt-3">
        <!-- Ai cũng thấy trang chủ Dashboard -->
        <li class="nav-item">
          <a class="nav-link text-light px-4 py-3" routerLink="/dashboard" routerLinkActive="bg-primary text-white fw-bold">
            Trang Chủ
          </a>
        </li>

        @if (isAdmin()) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/admin-overview" routerLinkActive="bg-primary text-white fw-bold">
              Tổng Quan Học Vụ
            </a>
          </li>
        }
        
        <!-- Cú pháp @if MỚI của Angular 17+ -->
        @if (hasAction('VIEW_COURSE')) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/courses" routerLinkActive="bg-primary text-white fw-bold">
              Quản lý Khóa học
            </a>
          </li>
        }

        @if (hasAction('VIEW_USER')) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/users" routerLinkActive="bg-primary text-white fw-bold">
              Quản lý Người dùng
            </a>
          </li>
        }

        @if (hasAction('VIEW_ROLE')) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/roles" routerLinkActive="bg-primary text-white fw-bold" >
              Quản lý Quyền
            </a>
          </li>
        }

        @if (hasAction('CREATE_CLASS')) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/course-assignment" routerLinkActive="bg-primary text-white fw-bold">
              Phân Công Giảng Dạy
            </a>
          </li>
        }

        <!-- MENU DÀNH RIÊNG CHO GIÁO VIÊN  -->
        @if (hasAction('INPUT_GRADES')&& !isAdmin()) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/enter-score" routerLinkActive="bg-primary text-white fw-bold">
              Nhập Điểm Học Sinh
            </a>
          </li>
        }

        <!-- MENU DÀNH RIÊNG CHO HỌC SINH -->
        @if (hasAction('REGISTER_DEGREE')&& !isAdmin()) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/register-course" routerLinkActive="bg-primary text-white">
              Đăng Ký Môn Học
            </a>
          </li>
        }

        @if (hasAction('VIEW_OWN_TRANSCRIPT')&& !isAdmin()) {
          <li class="nav-item">
            <a class="nav-link text-light px-4 py-3" routerLink="/my-scores" routerLinkActive="bg-primary text-white">
              Bảng Điểm Của Tôi
            </a>
          </li>
        }
      </ul>
    </nav>

    <!-- khung chính (cột phải chiếm 10 phần) -->
    <main class="col-md-10 d-flex flex-column bg-light">
      
      <!-- header -->
      <header class="d-flex justify-content-between align-items-center p-3 bg-white border-bottom shadow-sm">
        <div class="fs-5">
          <strong class="text-primary">{{ username }}</strong>
        </div>
        <button class="btn btn-outline-danger" (click)="onLogout()">
          Đăng xuất
        </button>
      </header>

      <!-- các trang con -->
      <div class="p-4 flex-grow-1 overflow-auto">
        <router-outlet></router-outlet>
      </div>

    </main>
  </div>
</div>